.body-descr {
  &__image {
    padding-left: 100px;
    padding-right: 80px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 116px;
    line-height: 132px;
    letter-spacing: 0.08em;
    background: linear-gradient(90deg, #BF8617 0%, #F4D875 63.54%, #DFA026 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 20px 30px 10px rgba(217, 182, 101, 0.2);
  }

  &__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }
}
