.btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--dark-color);
  background: linear-gradient(90deg, #D6961A 0%, #F1D46F 50%, #D6961A 100%);
  box-shadow: 10px 10px 20px rgba(217, 182, 101, 0.3);
  border-radius: 50px;
}
