<section class="body-descr">
  <div class="conatiner body-descr__container">
    <h1 class="body-descr__title">GL-Bonus</h1>
    <h2 class="body-descr__subtitle">
      Бонусная программа корпорации "Golding Life"
    </h2>
    <span class="body-descr__descr"
      >Задача "GL-BONUS" — дать возможность любому человеку начать процесс
      накопления своих золотых активов, даже не имея достаточных финансовых
      ресурсов. "GL-BONUS" основан на механизме коллективного накопления и
      перераспределения ресурсов участников бонусной программы «GL-BONUS».</span
    >
  </div>
</section>
