<section class="body-descr container-fluid">
  <div class="body-descr__image">
    <picture>
      <source srcset="img/gold-image.avif" type="image/avif" />
      <source srcset="img/gold-image.webp" type="image/webp" />
      <img
        loading="lazy"
        src="img/gold-image.svg"
        class="image"
        width="701"
        height="916"
        alt="Fine Gold"
      />
    </picture>
  </div>
  <div class="body-descr__content">
    <div class="body-descr__header header">
      <img
        loading="lazy"
        src="img/logo.svg"
        class="image"
        width="168"
        height="94"
        alt="Логотип Golding Life"
      />
      <nav class="nav" title="Языковая навигация">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link">EN</a></li>
          <li class="nav__item">
            <a href="#" class="nav__link nav__link--active">RU</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">CH</a></li>
          <li class="nav__item"><a href="#" class="nav__link">FR</a></li>
          <li class="nav__item"><a href="#" class="nav__link">SP</a></li>
        </ul>
      </nav>

      <div class="sec епепепеп"></div>
    </div>
    <h1 class="body-descr__title">GL-Bonus</h1>
    <h2 class="body-descr__subtitle">
      Бонусная программа корпорации "Golding Life"
    </h2>
    <span class="body-descr__descr"
      >Задача "GL-BONUS" — дать возможность любому человеку начать процесс
      накопления своих золотых активов, даже не имея достаточных финансовых
      ресурсов. "GL-BONUS" основан на механизме коллективного накопления и
      перераспределения ресурсов участников бонусной программы «GL-BONUS».</span
    >
  </div>
  <a class="body-descr__link btn" href="#">Регистрация</a>
  <div class="body-descr__text">
    <p>Регистрация бесплатна и доступна любому человеку</p>
    <p>Подробная информация в личном кабинете</p>
  </div>
</section>
