<header class="header">
  <div class="container header__container">
    <div class="header__image"></div>
    <div class="header__content">
      <img
        loading="lazy"
        src="img/logo.svg"
        class="image"
        width="168"
        height="94"
        alt="Логотип Golding Life"
      />
      <nav class="nav" title="Языковая навигация">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link">EN</a></li>
          <li class="nav__item">
            <a href="#" class="nav__link nav__link--active">RU</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">CH</a></li>
          <li class="nav__item"><a href="#" class="nav__link">FR</a></li>
          <li class="nav__item"><a href="#" class="nav__link">SP</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
